@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Ultra&display=swap');

.service {
  display: flex;
  font-family: 'Fugaz One', cursive;
   height: 345px;
  width: 349px;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 50px;
  border-radius: 5px;
  box-shadow: 10px;
  background-color:#d6caa9;

}

